//variables

/* Colors */
$primary: #120D31;
$secondary: #FF5376;
$alternative: #302F4D;
$text-color: #2B2B2B;

/* Spacings */
$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacing-xsmall: 1rem;

/* Font-family */
$font-principal: 'Barlow', sans-serif;
$font-title: 'Roboto Slab', serif;

/* Font-Sizes */
$text-large: 5.2em;
$text-medium: 2.2em;
$text-base: 1.6em;
$text-small: 1.4em;

//map
$fuentes: (
    text-large: 5.2em,
    text-medium: 2.2em,
    text-base: 1.6em,
    text-small: 1.4em
)