
$colorPrimario:  #935A46;

$colorSecundario: #534540;



$fuente-titulo: 'Milonga', cursive; 
$fuente-subtitulo:'Courgette', cursive;
$fuente-info:'Raleway', sans-serif;

$fuente-form: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


$fontSize: (
    'grande': 70px,
    'mediano': 40px,
    'chico': 25px,
    'link' : 20px,
    'x-small': 16px,
)